
.feat-left {
	text-align: left !important;
}

.slid-right {
	text-align: right !important;
}

#tab-lang, #tab-pdgm, #tab-optn {
	width: 100% !important;
}

#result {
    margin: 10px;
    background: #eee;
    padding: 10px;
    height: 40px;
    overflow: auto;
}
