h2 {
    font-size: 24px;
}

.feat-left {
	text-align: left !important;
}

.slid-right {
	text-align: right !important;
}

#tab-lang, #tab-pdgm, #tab-optn , #tab-oth {
	width: 100% !important;
}

#result {
    margin: 10px;
    background: #eee;
    padding: 10px;
    height: 40px;
    overflow: auto;
}

.select2-container .select2-choice {
	height:34px !important;
	line-height:34px !important;
	background-color: transparent !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important; 
}

.select2-drop-mask {
	background-color: transparent !important;
}

.form-control {
	background-color: transparent !important;
	border-color: transparent !important;	
}

#resultTable tbody td {
	text-align:left !important;
}
